{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}

<div class="ui container">
    <h1>Welcome to My Custom Theme!</h1>
    <p>This is your new homepage. Customize it freely.</p>
</div>

{% endblock %}
